/**
 * Custom CSS declarations
 *
 * If your server is registered, you can create a file named `custom.css`
 * in the `config` directory and populate it with CSS rules to override the
 * normal client styles, when the client is connected to your server. In
 * other words, you can use this facility to introduce a custom theme for
 * your server.
 */
#header {
        background: url("http://77.68.104.131/showdown/stripes-gray.gif")
}
 
.message-pm {
color: #FFF;
}
.pm-log {
color: #000;
min-height: 100px;
max-height: 300px;
background: #FFFFFF;
word-wrap: break-word;
border: 1px solid #000;
border-top: 0;
border-bottom: 0;
overflow: auto;
}
.pm-window h3 {
background: #C0C0C0;
color: #000;
margin: 0;
padding: 2px 5px;
font-size: 11pt;
border: 1px solid #000;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
cursor: pointer;
}
.pm-log-add {
border: 1px solid #000;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
background: #FFF;
}
.pm-window. focused h3 {
background: #C0C0C0;
color: #000;
cursor: default;
}
.pm-window. focused .pm-log-add {
background: #C0C0C0;
border: #000;
}
.pm-window.focused h3, .pm-window.focused h3:hover {
.pm-window h3 {
background: #FFF;
color: #000;
margin: 0;
padding: 2px 5px;
font-size: 11pt;
border: 1px solid #000;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
cursor: pointer;
}
.pm-window.focused h3, .pm-window.focused .pm-log, .pm-window.focused .pm-log-add {
border: 1px solid #000;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
color: #000;
background: #fff;
}
 
.tabbar a.button {
background: #000000;
color: #FFFFFF;
}
 
.tabbar a.button.cur,.tabbar a.button.cur:hover {
color: #FFFFFF ;
background: #000000 ;
box-shadow: none;
border-color: #AAAAAA;
border-bottom: 0;
cursor: default;
padding-top: 3px;
padding-bottom: 5px;
top: 0px;
}
 
body {
  background: #C0C0C0 none;
}
 
.mainmenuwrapper {
  background: url("http://77.68.104.131/showdown/scizor-drapion.png") no-repeat scroll right middle; 
}

.mainmenuwrapper {
  color: #C0C0C0;
  font-size: 11pt;
  /*font-family: Verdana,Helvetica,Arial,sans-serif;
  background-image: url("http://77.68.104.131/showdown/stripes-gray.gif") repeat scroll right top;
  background-image: -webkit-linear-gradient(-45deg,#666 0,#666 2px,#6e6e6e 2px,#6e6e6e 8px,#666 8px,#666         10px,#6e6e6e 10px,#6e6e6e 17px);
  background-image: linear-gradient(-45deg,#666 0,#666 2px,#6e6e6e 2px,#6e6e6e 8px,#666 8px,#666 10px,#6e6e6e 10px,#6e6e6e 17px);
  background-size: 12px 12px;*/
}
 
 
.chat-log {
  font-size: 12px;
  /*background: #fff none scroll right bottom;*/
  background: #fff url("http://77.68.104.131/showdown/pokeball.jpg") no-repeat scroll right bottom;

  background-repeat: repeat, no-repeat;
  color: #000;
  overflow: auto;
}
 
.menugroup .button:hover {
  color: #FFF;
  background: #404040;
}
 
.menugroup .button {
  color: #FFF;
  background: #000;
}
 
.menugroup button.big {
  color: #FFF;
  background: #000;
  width: 230px;
  padding: 6px 7px 6px 7px;
  font-size: 14pt;
}
 
.ps-room.ps-room-light {
        color: black;
}
 
.chat-log-add {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        min-height: 36px;
        padding: 3px 4px 0px;
        border-top: 1px solid rgb(72, 61, 139);
}
 
.mainmenufooter small:after {
        content: "PokemonDB.net server by PokemasterDb";
        text-shadow: 0 1px black;
        position: absolute;
        left: 0px;
        top: -40px;
        width: 200px;
}
 
.battle-log {
        position: absolute;
        text-align: left;
        border: 1px solid #686868;
        background: #C0C0C0;
        color: black;
        top: 9px;
        left: 640px;
        right: -1px;
        height: 360px;
        font-family: Verdana,sans-serif;
        font-size: 10pt;
        overflow: auto;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
}
 
.message-pm {
        color: #383838;
}
 
.setchart input:focus, .setchart-nickname input:focus, .statform input.inputform:focus, .textbox:focus {
        outline: 0px none;
        border: 1px solid rgb(0, 68, 136);
        box-shadow: 0px 1px 2px rgb(210, 210, 210) inset, 0px 0px 5px rgb(34, 102, 170);
        background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
 
.tabbar {
        bottom: 0;
}
 
.userbar {
        top: 18px;
}
 
.userbar .username {
        text-shadow: none;
        text-shadow: 1px 1px black;
}
 
.userbar:before {
        display: block;
        content:"";
        width:80px;
        height: 32px;
        float: right;
        position: relative;
        top: -9px;
}
 
.icon-user {
        display:none;
}
 
.maintabbarbottom {
        background: linear-gradient(to bottom, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 100%);
        border: none;
        box-shadow: none;
        z-index:2;
}
 
.header {
        height: 56px;
        background: #161616;
}
 
.header .logo {
        float: left;
        margin: 7px 0px 0 2px;
}
 
 
.userlist,
.userlist li {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: left;
}
.userlist {
        border-left: 1px solid #909090;
        min-height: 100%;
        background: #787878;
}
.userlist li {
        border-bottom: 1px solid #B0B0B0;
        height: 19px;
        font: 10pt Verdana, sans-serif;
        white-space: nowrap;
}
.userlist li em.group {
        font-style: normal;
        font-size: 8pt;
        color: #9AFE2E;
        display: block;
        float: left;
        text-align: center;
        padding: 1px 0 0 1px;
        width: 14px;
}
.userlist li button {
        box-sizing: border-box;
        display: block;
        height: auto;
        background: transparent;
        border: 0;
        padding: 0;
        margin: 0;
        height: 19px;
        width: 100%;
        white-space: nowrap;
        font: 10pt Verdana, sans-serif;
        text-align: left;
        cursor: pointer;
}
.userlist li button:hover {
        background: #686868;
}
.userlist li button:active {
        background: #FFFFFF;
}
.userlist li.cur {
        background: #686868;
}
.userlist li.cur button,
.userlist li.cur button:hover {
        background: #686868;
        margin: 0 0 0 -1px;
}
